.eTable11{

    width: 1100px;
    margin-top: 10px;
    margin-left: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 #hh{
   height: 40px;
 }
 #search{
   position: fixed;
   margin-top: 110px;
   margin-left: 1040px;
   
 }
 .buttupdate{
    margin-left: 200px;
    margin-top: 100px;
  
 }
 #Butt{
    background-color: white;
    color: black;
 }
 .cc{
    background-color: aliceblue;
 }
 .Button{
    background-image: linear-gradient(to top, #ff0844 20%, #ffb199 100%);
    border: #ff0844;
  
  }